# Include Lando configuration
# (No need to ignore .lando.yml and .lando.base.yml if you want them included)

# Ignore sensitive files (adjust the path as needed)
/wordpress/wp-config.php
/wordpress/.htaccess

# System files to ignore
.DS_Store
Thumbs.db

# Node modules if you're using Node in your project
/node_modules/